{% extends "template.html" %}
{% block content %}

<section class="container" id="main-site">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/verification/review.css') }}" type="text/css" />

    <h1 class="text" style="text-align: center;">Story Verification Status</h1>
    <hr>
    <h2 class="text">Locations:</h2>
    <br>

    {% for location in locations %}
    <section class="align-items-center">
        <p><strong>{{location.location_name|e}}</strong></p>
        {% if location.is_verified == 1%}
        <h6 style="color: green">VERIFIED</h6>
        <br>
        {% else%}
        <h6 style="color: red">NOT VERIFIED</h6>
        {%endif%}
        <label>Verification Comments</label>
        <textarea class="form-control" disabled>{{location.reviewer_comments|e}}</textarea>
        <span class="lnk" onclick="loadpage('/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}')">Edit Location</span>
    </section>
    {% endfor %}

    <hr>
    <h2 class="text">Decisions:</h2>
    <br>

    {%for decision in decisions%}
    <section class="align-items-center">
        <p><strong>{{decision.decision_name|e}}</strong></p>
        {% if decision.is_verified == 1%}
        <h6 style="color: green">VERIFIED</h6>
        <br>
        {% else%}
        <h6 style="color: red">NOT VERIFIED</h6>
        {%endif%}
        <label>Verification Comments</label>
        <textarea class="form-control" disabled>{{decision.reviewer_comments|e}}</textarea>
        <span class="lnk" onclick="loadpage('/story/location/decision/show?story_id={{story.story_id}}&location_id={{decision.loc_id}}')">Edit Decision</span>
        {%endfor%}

        <hr>
        <h2>Objects:</h2>
        <br>
        {%for object  in objects%}
        <p><strong>{{object.obj_name|e}}</strong></p>
        {% if object.is_verified == 1%}
        <h6 style="color: green">VERIFIED</h6>
        <br>
        {% else%}
        <h6 style="color:red">NOT VERIFIED</h6>
        {%endif%}
        <label>Verification Comments</label>
        <textarea class="form-control" disabled>{{object.reviewer_comments|e}}</textarea>
        <span class="lnk" onclick="loadpage('/story/object/indiv?story_id={{story.story_id}}&object_id={{object.obj_id}}')">Edit Object</span>
        {%endfor%}

        <hr><br>

        <h2>Events:</h2>
        <br>
        {%for event in events%}
        <p><strong>{{event.event_name|e}}</strong></p>
        {% if event.is_verified == 1%}
        <h6 style="color: green">VERIFIED</h6>
        <br>
        {% else%}
        <h6 style="color: red">NOT VERIFIED</h6>
        {%endif%}
        <label>Verification Comments</label>
        <textarea class="form-control" disabled>{{event.reviewer_comments|e}}</textarea>
        <span class="lnk" onclick="loadpage('/story/object/indiv?story_id={{story.story_id}}&event_id={{event.event_id}}')">Edit Event</span>
        {%endfor%}

        <br>
        <hr><br>
        <h6>Rating: {{story.parental_ratings|e}}</h6>
    </section>
</section>