{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/location/decision/show.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/story/location/decision/show.js') }}"></script>

<section class="row">
    <h3>Decisions</h3>
    <hr>
    <h3>Location name: '{{location_name}}'</h3>
    
    <button type="button" onclick="add_btn_pressed('{{ story_id }}', '{{ location_id }}')" id="add-btn" class="btn btn-light"><i class="fas fa-plus"></i></button>
</section>

<form id="dec-template" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" readonly class="hidden-in">
    <input name="obj_id" readonly class="hidden-in">
    <button type= "button" onclick= "delete_btn_pressed('{{story_id , decision_id}}')" class="trash"><i class="fa fa-minus"></i></button>
    <section class="decision-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="decision-name" onchange="decision_changed(this)">
            </div>
            <hr>
            <div class="col-sm-8">
                <label><b>Summary</b></label>
                <br>
                <p class="form-control" >
                    {%if hidden%}
                    Hidden,
                    {%else%}
                    Not Hidden, 
                    {%endif%}

                    {%if transition%}
                    Transition,
                    {%else%}
                    Not Transtion, 
                    {%endif%}

                    {%if locked%}
                    Locked,
                    {%else%}
                    Not Locked
                    {%endif%}
                </p>
            </div>
        </section>
        <section class="flex-0" onclick="decision_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>
    <section class="row details" style="display: none">
        <label>Decision Sequence Number:</label> <!---add max and min value--> 
        <input class="form-control" type= "number" min= "1" onchange="decision_changed(this)">
        <hr>

        <label>Decision Description:</label>
        <textarea class="form-control" rows="3" name="obj_description" onchange="decision_changed(this)"></textarea>

        <hr>

        <label>Causes a transition?</label>
        <input type="checkbox" autocomplete="off" name="transition" onchange="decision_changed(this)">
        <br>
       
        <label>Transition Location:</label>
        <select class="form-control" type="text" autocomplete="off" name="transition_loc_id" onchange="decision_changed(this)">
                    {% for locations in location %}
                        <option>{{location.location_name}}</option>
                    {%endfor%}
                </select>

        <hr>
        <label>Can occur only ONCE?</label>
        <input type="checkbox" autocomplete="off" name="once" onchange="decision_changed(this)">
        <hr>

        <label>Is Hidden?</label>
        <input type="checkbox" autocomplete="off" name="hidden" onchange="decision_changed(this)">
        <br>

        <label>Event to show decision:</label>
        <select class="form-control" type="text" autocomplete="off" name="show_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                    <option>{{event.event_name}}</option>
                {%endfor%}
        </select> 


        <label>Object to show decision:</label>
        <select class="form-control" type="text" autocomplete="off" name="show_object_id" onchange="decision_changed(this)">
                {%for objects in object%}
                <option>{{object.obj_name}}</option>
            {%endfor%}
    </select>      
        <hr>

        <label>Is Locked?</label>
        <input type="checkbox" autocomplete="off" name="locked" onchange="decision_changed(this)">
        <br>

   <label>Object to unlock decision:</label>
        <select class="form-control" type="text" autocomplete="off" name="unlock_event_id" onchange="decision_changed(this)">
                {%for objects in object%}
                <option>{{object.obj_name}}</option>
            {%endfor%}
        </select>

        <label>Description when locked (NOT by an event):</label>
        <textarea class="form-control" autocomplete="off" name="locked_descr"></textarea>

     

        <label>Event to unlock decision:</label>
        <select class="form-control" type="text" autocomplete="off" name="unlock_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                <option>{{event.event_name}}</option>
            {%endfor%}
        </select>

        <label>Description when locked by event:</label>
        <textarea class="form-control" autocomplete="off" name="locked_descr"></textarea>

     
        <hr>

        <label>Description of decision aftermath:</label>
        <textarea class="form-control" name="aftermath_desc" autocomplete="off" onchange="decision_changed(this)"></textarea>

        <label>Does this decision trigger an event?</label>
        <input type="checkbox" autocomplete="off" onchange="decision_changed(this)" name="cause_event">
        <br>

        <label>Event triggered by this decision:</label>
        <select class="form-control" type="text" autocomplete="off" name="effect_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                <option>{{event.event_name}}</option>
            {%endfor%}
    </select>
    
        </section>
</form>

<div id="content-marker"></div>

{% for decision in decisions %}
<form class="decision-main-row" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" value="{{ decision.story_id }}" readonly class="hidden-in">
    <input name="obj_id" value="{{ decision.obj_id }}" readonly class="hidden-in">
    <button type= "button" onclick= "delete_btn_pressed('{{story_id , decision_id}}')" class="trash"><i class="fa fa-minus"></i></button>
    <section class="decision-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="decision-name" onchange="decision_changed(this)" value="{{ decision.obj_name }}">
            </div>
            <hr>
            <div class="col-sm-8">
                <label><b>Properties:</b></label>
                <br>
                <p class="form-control">
                    {%if hidden%}
                    Hidden,
                    {%else%}
                    Not Hidden,
                    {%endif%}

                    {%if transition%}
                    Transition,
                    {%else%}
                    Not Transtion, 
                    {%endif%}

                    {%if locked%}
                    Locked,
                    {%else%}
                    Not Locked
                    {%endif%}
                </p>
            </div>
        </section>
        <section class="flex-0" onclick="decision_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>
    <section class="row details" style="display: none">
            <label>Decision Sequence Number:</label>
            <input class="form-control" min = "1" type= "number" onchange="decision_changed(this)">
        <hr>

        <label>Decision Description:</label>
        <textarea class="form-control" rows="3" name="obj_description" onchange="decision_changed(this)">{{ decision.obj_description }}</textarea>

        <hr>

        <label>Causes a transition?</label>
        {% if decision.transition %}
        <input type="checkbox" autocomplete="off" name="transition" onchange="decision_changed(this)" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="transition" onchange="decision_changed(this)">
        {% endif %}
        <br>

        <label>Transition Location:</label>
        <select type="text" class="form-control" autocomplete="off" name="transition_loc_id" onchange="decision_changed(this)">
                    {% for locations in location %}
                        <option>{{location.location_name}}</option>
                    {%endfor%}
                </select>
        <hr>
        <label>Can Occur only ONCE?</label>
        {% if decision.can_occur_once %}
        <input type="checkbox" autocomplete="off" name="once" onchange="decision_changed(this)" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="once" onchange="decision_changed(this)">
        {% endif %}
        <hr>

        <label>Is Hidden?</label>
        {% if decision.hidden %}
        <input type="checkbox" autocomplete="off" name="hidden" onchange="decision_changed(this)" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="hidden" onchange="decision_changed(this)">
        {% endif %}
        <br>


        <label>Event to show decision:</label>
        <select type="text" class="form-control" autocomplete="off" name="show_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                <option>{{event.event_name}}</option>
            {%endfor%}
        </select>

        <label>Object to show decision:</label>
        <select type="text" class="form-control" autocomplete="off" name="show_object_id" onchange="decision_changed(this)">
                {%for objects in object%}
                <option>{{object.obj_name}}</option>
            {%endfor%}
        </select>
        <hr>

        <label>Is Locked?</label>
        {% if decision.locked %}
        <input type="checkbox" autocomplete="off" name="locked" onchange="decision_changed(this)" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="locked" onchange="decision_changed(this)">
        {% endif %}
        <br>
 <label>Object to unlock decision:</label>
        <select type="text" class="form-control" autocomplete="off" name="unlock_event_id" onchange="decision_changed(this)">
                {%for objects in object%}
                <option>{{object.obj_name}}</option>
            {%endfor%}
    </select>
        <label>Description when locked (NOT by an event):</label>
        <textarea class="form-control" autocomplete="off" name="locked_descr" onchange="decision_changed(this)"></textarea>
        
       

        <label>Event to unlock decision:</label>
        <select type="text" class="form-control" autocomplete="off" name="unlock_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                <option>{{event.event_name}}</option>
            {%endfor%}
    </select>

    <label>Description when locked by event:</label>
    <textarea class="form-control" autocomplete="off" name="locked_descr" onchange="decision_changed(this)"></textarea>
       
        <hr>

        <label>Description of decision aftermath:</label>
        <textarea name="aftermath_desc" class="form-control" autocomplete="off" onchange="decision_changed(this)"></textarea>

        <label>Does this decision trigger an event?</label>
        {% if decision.cause_event %}
        <input type="checkbox" autocomplete="off" onchange="decision_changed(this)" name="cause_event" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" onchange="decision_changed(this)" name="cause_event">
        {% endif %}
        <br>

        <label>Event triggered by this decision:</label>
        <select type="text" class="form-control" autocomplete="off" name="effect_event_id" onchange="decision_changed(this)">
                {%for events in event%}
                <option>{{event.event_name}}</option>
            {%endfor%}
    </select>
        </section>
</form>
{% endfor %}

{% endblock %}