#tbvs{
    background-color: #fffff1;
    font-family: "Helvetica" sans-serif;
    font-style: bold;
    color: #734f96;
    width:102%;
    border-color:#fffff1;
}
.text{
    text-align: center;
    font-family: "Helvetica" sans-serif
}