db_host = "hostname"
db_user = "username"
db_password = "password"
db_name = "database"

upload_folder = 'folder'

reset_token = 'token-key'

mail_server = 'example.com'
mail_port = port
mail_name = 'username'
mail_pass = 'password'

secret_key = 'this is a secret'

google_client_id="google will kill me if this gets out"
google_client_secret="google told me that this is supposed to be a secret"

facebook_client_id="secret"
google_client)secret="hope zucc doesn't find what my client secret is"