<link rel="stylesheet" href="{{ url_for('static', filename='css/story/location/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/location/show.js') }}"></script>

<button onclick="loadpage('/story/update?story_id={{story_id}}')" class="btn btn-light">Back to Main Story Page</button>
<button onclick="loadpage('/story/treeview?story_id={{story_id}}')" id="bottom" class="btn btn-light">Back to TreeView</button>
<button onclick="loadpage('/verification/location?story_id={{story_id}}&location_id={{location_id}}')" class="btn btn-light">View
    Verification Info</button>
<button onclick="loadpage('/story/run?story_id={{story_id}}&location_id={{location_id}}')" class="btn btn-light">Run from Here</button>
<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>

<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/location/update">
    <input name="story_id" value="{{ story_id }}" readonly class="d-none">
    <input name="loc_id" value="{{ location_id }}" readonly class="d-none">
    <button type="button" onclick="show_delete_pressed(this, 'location')" class="trash btn btn-danger"><i
        class="fa fa-trash-alt fa-xs"></i></button>

    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="location_name" onchange="show_changed(this, 'location')"
                    value="{{ location.location_name|e }}">
            </div>
        </section>


    </section>
    <hr>
    <section class="row m0 p-2">

        <label> Original Description</label>
        <textarea class="form-control" rows="3" name="location_origin_description"
            onchange="show_changed(this, 'location')">{{ location.original_description|e }}</textarea>

        <label>Short Description</label>
        <textarea class="form-control" rows="3" name="location_short_description"
            onchange="show_changed(this, 'location')">{{ location.short_description|e }}</textarea>



        <label>Select Event Name (changes description): or <span class="hover-cursor" onclick="add_evt_redir('{{story_id}}')">Add
                New Event</span></label>

        <select class="form-control" rows="3" name="location_event_id" onchange="show_changed(this, 'location')">
            <option value="0">None</option>
            {%for event in events%}
            <option {%if location.location_event_id|int==event.event_id|int%}selected{%endif%}
                value="{{event.event_id}}">{{event.event_name|e}}</option>
            {%endfor%}
        </select>

        <label>Post Event Description</label>
        <textarea class="form-control" rows="3" name="location_post_event_description"
            onchange="show_changed(this, 'location')">{{ location.post_event_description|e }}</textarea>

        <hr>
        <br>
        <span class="hover-cursor" onclick="loadpage('/story/location/decision/show?story_id={{story_id}}&location_id={{location.location_id}}')">Edit
            Decisions</span>
    </section>
</form>

<br>


<button onclick="loadpage('/story/update?story_id={{story_id}}')" class="btn btn-light">Back to Main Story Page</button>
<button onclick="loadpage('/story/treeview?story_id={{story_id}}')" id="bottom" class="btn btn-light">Back to TreeView</button>
<button onclick="loadpage('/verification/location?story_id={{story_id}}&location_id={{location_id}}')" class="btn btn-light">View
    Verification Info</button>
<button onclick="loadpage('/story/run?story_id={{story_id}}&location_id={{location_id}}')" class="btn btn-light">Run from Here</button>
<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>