<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<section class="row m0">
    <h3>Locations</h3>
    <button type="button" onclick="add_loc_redir('{{ story_id }}')" id="add-btn" class="btn btn-light"><i
            class="fas fa-plus"></i> Add New Location</button>
</section>

<div class="mb-3"></div>

{% for location in locations %}
<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/location/update">
    <input name="story_id" value="{{ location.story_id }}" readonly class="d-none">
    <input name="loc_id" value="{{ location.location_id }}" readonly class="d-none">
    
    <!-- Summary Area -->
    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="location_name" onchange="show_changed(this, 'location')"
                    value="{{ location.location_name|e }}">
            </div>
        </section>

        <!-- Down Arrow -->
        <section class="fg-0" onclick="show_show(this)">
            <i class="fas fa-chevron-down fa-lg show-down-arrow"></i>
        </section>

    </section>
    <!-- /Summary Area -->

    <!-- Dropdown Area -->
    <section class="row m0 p-2" style="display: none">
        <hr>

        <label> Original Description</label>
        <textarea class="form-control" rows="3" name="location_origin_description"
            onchange="show_changed(this, 'location')">{{ location.original_description|e }}</textarea>

        <label>Short Description</label>
        <textarea class="form-control" rows="3" name="location_short_description"
            onchange="show_changed(this, 'location')">{{ location.short_description|e }}</textarea>
        
        <hr>

        <label>Select Event Name (changes description): or <span class="hover-cursor"
                onclick="add_evt_redir('{{location.story_id}}')">Add New
                Event</span></label>

        <select class="form-control" rows="3" name="location_event_id" onchange="show_changed(this, 'location')">
            <option value="0">None</option>
            {%for event in events%}
            <option {%if location.location_event_id|int==event.event_id|int%}selected{%endif%}
                value="{{event.event_id}}">{{event.event_name|e}}</option>
            {%endfor%}
        </select>

        <label>Post Event Description</label>
        <textarea class="form-control" rows="3" name="location_post_event_description"
            onchange="show_changed(this, 'location')">{{ location.post_event_description|e }}</textarea>
        
        <hr>

        <section class="row">
            <button type="button class="btn btn-primary" onclick="loadpage('/story/location/decision/show?story_id={{story_id}}&location_id={{location.location_id}}')">Edit Decisions</button>
            <button type="button" onclick="show_delete_pressed(this, 'location')" class="ml-auto btn btn-danger"><i class="fa fa-trash-alt"></i> Delete Story</button>
        </section>
    </section>
    <!-- /Dropdown Area -->
</form>
{% endfor %}

<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<div class="mb-3"></div>