<link rel="stylesheet" href="{{ url_for('static', filename='css/story/location/decision/show.css') }}"
    type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/update.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/location/decision/show.js') }}"></script>

<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story Page</button>
<button class="btn btn-light" onclick="loadpage('/story/location/indiv?story_id={{story_id}}&location_id={{location.location_id}}')">Back to Location</button>
<a href="#bottom"><button class="btn btn-light">Bottom of Page</button></a>

<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>

<section class="row m0">
    <h3>Decisions</h3>
    <hr>
    <h3>Location Name: '<i>{{ location.location_name|e }}</i>'</h3>

    <button type="button" onclick="add_dec_redir('{{ story_id }}', '{{ location.location_id }}')" id="add-btn"
        class="btn btn-light"><i class="fas fa-plus"></i></button>
</section>
{% for decision in decisions %}
<span class="hover-cursor" onclick="loadpage('/story/location/decision/indiv?story_id={{story_id}}&location_id={{decision.loc_id}}&decision_id={{decision.decision_id}}')">Edit
    Decision</span>
<section class="row m0 1-3-left-row small-card">

    <section col-sm-4>
        <div class="row m0">
            <h5><b>Name:</b></h5>
            <p type="text" name="decision_name">{{ decision.decision_name|e }}</p>
        </div>
        <div class="row m0">
            <label><b>Properties:</b></label>
            <br>
            <p>
                {%if decision.hidden%}
                Hidden,
                {%else%}
                Not Hidden,
                {%endif%}

                {%if decision.locked%}
                Locked
                {%else%}
                Not Locked
                {%endif%}
            </p>
        </div>

    </section>
    <div class="row m0 col-sm-4">
        <p>
            {%if decision.transition%}
            <b>Transition</b> to {{StoryLocation.get(story_id,decision.transition_loc_id).location_name|e}}
            {%else%}
            <b>Not a Transtion</b>
            {%endif%}
        </p>
    </div>
    <section class="col-sm-4 row m0">
        <!-- TODO: add max value -->
        <h6><b>Decision Sequence Number: </b></h6>
        <p name="sequence_number" type="number">{{decision.sequence_num|e}}</p>
    </section>
</section>




{% endfor %}
<br>
<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story Page</button>
<button class="btn btn-light" onclick="loadpage('/story/location/indiv?story_id={{story_id}}&location_id={{location.location_id}}')">Back to Location</button>
<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>