{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/location/show.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/story/location/show.js') }}"></script>

<section class="row">
    <button type="button" onclick="add_btn_pressed({{ story_id }})" id="add-btn" class="btn btn-light"><i class="fas fa-plus"></i></button>
</section>

<form id="loc-template" onclick="set_focus(this)" method="POST" action="/story/location/update">
    <input name="story_id" readonly class="hidden-in">
    <input name="loc_id" readonly class="hidden-in">
    <section class="location-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="loc_name">
            </div>
        </section>
        <section class="flex-0" onclick="object_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>
    <section class="row details" style="display: none">
        <hr>
        <label>Original Description</label>
        <textarea class="form-control" rows="3" name="loc_origin_description"></textarea>
        <hr>
        <label>Short Description</label>
        <textarea class="form-control" rows="3" name="loc_short_description"></textarea>
        <hr>
        <label>Post Event Description</label>
        <textarea class="form-control" rows="3" name="loc_post_event_description"></textarea>
        <hr>
        <label>Event ID</label>
        <input type="text" autocomplete="off" name="event_id">
        <hr>
        <label>Next Location ID</label>
        <input type="text" autocomplete="off" name="next_loc_id">
        <hr>
        <label>Auto Goto</label>
        <input type="checkbox" autocomplete="off" name="auto_goto">

        <br>

    </section>
</form>

<div id="content-marker"></div>

{% for location in locations %}
<form class="location-main-row" onclick="set_focus(this)" method="POST" action="/story/location/update">
    <input name="story_id" value="{{ location.story_id }}" readonly class="hidden-in">
    <input name="loc_id" value="{{ location.location_id }}" readonly class="hidden-in"> <!---i think i did this whole request wrong plz fix <3 ZD-->
    <section class="location-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="location-name" onchange="location_changed(this)" value="{{ location.location_name }}">
            </div>
        </section>
        <section class="flex-0" onclick="location_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>
    <section class="row details" style="display: none">
        <hr>
        <label> Original Description</label>
        <textarea class="form-control" rows="3" name="location_origin_description" onchange="location_changed(this)">{{ location.origin_description }}</textarea>
       <hr>
        <label>Short Description</label>
        <textarea class="form-control" rows="3" name="location_short_description" onchange="location_changed(this)">{{ location.short_description }}</textarea>
        <hr>
        <label>Post Event Description</label>
        <textarea class="form-control" rows="3" name="location_post_event_description" onchange="location_changed(this)">{{ location.post_event_description }}</textarea>
       <hr>
        <label>Event Name</label>
        <datalist class="form-control" rows="3" name="location_event_id" onchange="location_changed(this)">{{ location.location_event_id }}</datalist>
        <br>
        <label>Auto Go To</label>
        {% if location.auto_goto %}
        <input type="checkbox" autocomplete="off" name="auto_goto" onchange="location_changed(this)">
        {% else %}
        <input type="checkbox" autocomplete="off" name="auto_goto" onchange="location_changed(this)" checked>
        {% endif %}

        <br>

      
    </section>
</form>
{% endfor %}

{% endblock %}