{% extends "template.html" %}
{% block content %}
<div class="container text-center" id="main-site"> 
    <h1>Audio Odyssey</h1>

    <h2>Our Mission</h2>
    <p>AudioOdyssey, Inc. strives to present a safe and enjoyable gaming experience for our users as well as provide a creative opportunity for our contributors. In doing so, we hope to prevent drowsy driving accidents and encourage safer driving habits.</p>

    <h2>Our Story</h2>
    <p>The original concept for AudioOdyssey was born during a hackathon at Hyland Software in Westlake, Ohio in January of 2019. After taking home first place in the high school division, the founding members did not intially intend on pursuing the project futher. However, when they were approached by one of the judges of the competition, Miguel Zubizeretta, and offered summer jobs developing their project they agreed ecstatically! AudioOdyssey officially began development in the summer of 2019.</p>

    <h2>Our Team</h2>
    <p><b>Miguel Zubizeretta</b></p>
    <p><b>Zoe Drasner</b></p>
    <p><b>Brian Duffy</b></p>
    <p><b>Sonny Ghosh</b></p>
    <p><b>Kyle Maiorana</b></p>
    <p><b>Adam Zhang</b></p>

    <img style= "width: 50%; align-self: center" class="logo" src="{{ url_for('static', filename='image/logoimage.jpg')}}"/>
</div>
{% endblock %}