<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Bootstrap -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<!-- /Bootstrap -->

	<meta name="Description" content="AudioOdyssey creates interactive stories for authors to connect with listeners and to create an engrossing experience.">

	<!-- Roboto for sign in with google -->
	<link async href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

	<!-- Icons -->
	<link async rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

	<title>AudioOdyssey - Interactive Stories</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css" />
	<script src="{{ url_for('static', filename='js/site.js') }}"></script>

	<!-- Page Specific Styles -->
	{% block header %}
	{% endblock %}
</head>
<body>
	<!-- Navbar -->
	<header>
		<nav class="navbar navbar-light navbar-expand-md">
			<div class="container-fluid">
			  	<a class="p-0 navbar-brand" href="/">
			    	<img height="40px" src="{{url_for('static', filename='image/logo.png')}}" alt=""> AudioOdyssey
			  	</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						{% if g.user is none %}
							<li class="nav-item">
								<a class="nav-link" href="/session/new">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/user/new">Register</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/dashboard/dash/user">{{g.user.first_name}}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" onclick="logout()">Logout</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="/help" onclick="logout()">Help</a>
								</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- /Navbar -->
	<!-- Main Site -->
	{% block content %}
	{% endblock %}
	<!-- /Main Site -->
	<div id="save-bubble">
	    <div id="save-bubble-inner">Everything Saved</div>
	</div>
	<!-- Footer -->
	<footer class="p-2 footer">
		<!-- Copyright -->
		<div class="container">
			<p class="text-center text-muted mb-0">&copy; 2019 AudioOdyssey, Inc. <a href="/eula">See our EULA</a></p>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- /Footer -->
</body>
</html>