<!DOCTYPE html>
<html>

<head>
	<!-- Bootstrap -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
	</script>
	<!-- /Bootstrap -->

	<!-- Roboto for sign in with google -->
	<link async href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

	<!-- Disable Caching -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<!-- Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

	<title>AudioOdyssey</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css" />
	<script src="{{ url_for('static', filename='js/site.js') }}"></script>

	<!-- Page Specific Styles -->
	{% block header %}{% endblock %}
</head>

<body>
	<!-- Navbar -->
	<header>
		<nav class="navbar navbar-light navbar-expand-md">
			<div class="container">
				<a class="navbar-brand" href="/">AudioOdyssey, Inc.</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						{% if g.user is none %}
						<li class="nav-item">
							<a class="nav-link" href="/session/new">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/new">Register</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/dashboard">Dashboard</a>
						</li>
						<li>
							<a class="nav-link" href="/dashboard/dash/user">{{g.user.first_name}}</a>
						</li>
						<li>
							<a class="nav-link" href="#" onclick="logout()">Logout</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- /Navbar -->
	<!-- Main Site -->
	{% block content %}
	{% endblock %}
	<!-- /Main Site -->
	<div id="save-bubble">
	    <div id="save-bubble-inner">Everything Saved</div>
	</div>
	<!-- Footer -->
	<footer class="p-2 footer">
		<!-- Copyright -->
		<div class="container">
			<p class="text-center text-muted mb-0">&copy; 2019 AudioOdyssey, Inc.</p>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- /Footer -->
</body>

</html>