<script src="{{ url_for('static', filename='js/story/run.js') }}"></script>

{%if location is none%}
<h1>Can't Load Run-View, No starting location!</h1>
<a href="/story/update?story_id={{story.story_id}}" class="btn btn-light">Back to Main Story Page</a>
{%else%}

{%if backs|length > 0%}
<button onclick="runBackOne('{{story.story_id}}')" class="btn btn-light">Back one location</button>
{%endif%}

<button onclick="runStartOver('{{story.story_id}}')" class="btn btn-light">Restart</button>
<span onclick="loadpage('/story/update?story_id={{story.story_id}}')" class="hover-cursor btn btn-light">Back to Main Story Page</span>
<span class="btn btn-primary hover-cursor" style="float:right"
    onclick="loadpage('/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}')">Edit Location</span>

<h1>Running {{story.story_title|e}}</h1>
<br>
<h3>Inventory:</h3>
<div class="clearfix"></div>
{%for itm in inv%}
<p style="width: max-content; float: left; margin:0.5rem; border: solid grey 1px; padding: 0.25rem; background: white">
    {{itm.obj_name|e}}</p>
{%else%}
<p style="width: max-content; float: left; margin:0.5rem; border: solid grey 1px; padding: 0.25rem; background: white">
    Nothing!</p>
{%endfor%}
<div class="clearfix"></div>
<h3>Triggered Events:</h3>
<div class="clearfix"></div>
{%for event in evts%}
<p style="width: max-content; float: left; margin:0.5rem; border: solid grey 1px; padding: 0.25rem; background: white">
    {{event.event_name|e}}</p>
{%else%}
<p style="width: max-content; float: left; margin:0.5rem; border: solid grey 1px; padding: 0.25rem; background: white">
    Nothing!</p>
{%endfor%}
<div class="clearfix"></div>

<h2>At {{location.location_name|e}}</h2>

<hr>
<h3>{{location.original_description|e}}</h3>
<!--I think printing 
    all of these is acceptable maybe we could hide the not relevant ones if we can track the info?-->
<p>(if already visited: {{location.short_description|e}})</p>
{% if location.location_event_id|int!=0 %}
<p>(if {{location.event_name|e}} has been triggered:{{location.post_event_description|e}} )</p>
{%endif%}
<hr>
<!--for objects at this location (brian idk how to keep track of that)-->
<!--print their names and have a pick up option-->
{%for obj in objects%}
<a onclick="runAddItem({{obj.obj_id}})" class="btn btn-light" {%if not obj.can_pickup_obj%}disabled{%endif%}>Pick Up
    <i>{{obj.obj_name}}</i></a>
{%endfor%}
<p>Would you like to ...</p>

<style>
    .card-outer {
        padding: .5rem;
    }

    .storycard {
        border-radius: .25rem;
        width: 100%;
    }
</style>

<section class="row">
    {%for dec in decisions%}
    <div class="col-sm-4 card-outer">
        <div class="storycard">
            <span class="hover-cursor"
                onclick="runDecClicked('{{story.story_id}}','{{dec.decision_id}}','{{location.location_id}}','{{dec.transition}}','{{dec.transition_loc_id}}','{{dec.can_occur_once}}','{{dec.cause_event}}','{{dec.effect_event_id}}')">
                <h3>{{dec.decision_name|e}}</h3>
                <hr>
                <h4>Transitions to
                    <i>{%if dec.transition%}{{StoryLocation.get(story.story_id, dec.transition_loc_id).location_name}}{%else%}Nowhere{%endif%}</i>
                </h4>
                {%if dec.hidden%}
                {%if dec.show_event_id!=0%}
                {%if dec.show_event_id in evts%}
                <h5>Was hidden by Event <i>{{StoryEvent.get(story.story_id, dec.show_event_id).event_name|e}}</i>, now
                    revealed
                </h5>
                {%else%}
                <h5>Hidden by Event <i>{{StoryEvent.get(story.story_id, dec.show_event_id).event_name|e}}</i></h5>
                {%endif%}
                {%elif dec.show_object_id!=0%}
                {%if dec.show_object_id in inv%}
                <h5>Was hidden by Object <i>{{StoryObject.get(story.story_id, dec.show_object_id).obj_name|e}}</i>, now
                    revealed
                </h5>
                {%else%}
                <h5>Hidden by Object <i>{{StoryObject.get(story.story_id, dec.show_object_id).obj_name|e}}</i></h5>
                {%endif%}
                {%endif%}
                {%endif%}

                {%if dec.locked%}
                {%if dec.unlock_event_id!=0%}
                {%if dec.unlock_event_id in inv%}
                <h5>Was locked by Event <i>{{StoryEvent.get(story.story_id, dec.unlock_event_id).event_name|e}}</i>, now
                    revealed</h5>
                {%else%}
                <h5>Locked by Event <i>{{StoryEvent.get(story.story_id, dec.unlock_event_id).event_name|e}}</i></h5>
                {%endif%}
                {%elif dec.unlock_object_id!=0%}
                {%if dec.unlock_object_id in evts%}
                <h5>Was locked by Object <i>{{StoryObject.get(story.story_id, dec.unlock_object_id).obj_name|e}}</i>,
                    now
                    unlocked</h5>
                {%else%}
                <h5>Locked by Object <i>{{StoryObject.get(story.story_id, dec.unlock_object_id).obj_name|e}}</i></h5>
                {%endif%}
                {%endif%}
                {%endif%}

                {%if dec.cause_event%}
                <h5>Causes Event <i>{{StoryEvent.get(story.story_id, dec.effect_event_id).event_name|e}}</i></h5>
                {%endif%}

                {%if dec.is_locked_by_event_id!=0%}
                {%if dec.is_locked_by_event_id in evts%}
                <h5>Now locked by Event
                    <i>{{StoryEvent.get(story.story_id, dec.is_locked_by_event_id).event_name|e}}</i>
                </h5>
                {%else%}
                <h5>Gets locked by Event
                    <i>{{StoryEvent.get(story.story_id, dec.is_locked_by_event_id).event_name|e}}</i>
                </h5>
                {%endif%}
                {%endif%}

                {%if dec.can_occur_once%}
                {%if dec.decision_id in triggered%}
                <h5 style="color: red">Decision can only be triggered once, and has already been triggered!</h5>
                {%else%}
                <h5>Decision can only be triggered once</h5>
                {%endif%}
                {%endif%}

                <p>{{dec.decision_description|e}}</p>
            </span>
        </div>
    </div>
    {%endfor%}
</section>

<br>
<hr>

{%if backs|length > 0%}
<button onclick="runBackOne('{{story.story_id}}')" class="btn btn-light">Back one location</button>
{%endif%}

<button onclick="runStartOver('{{story.story_id}}')" class="btn btn-light">Restart</button>
<span onclick="loadpage('/story/update?story_id={{story.story_id}}')" class="btn btn-light hover-cursor">Back to Main Story Page</span>
<span class="btn btn-primary hover-cursor" style="float:right"
    onclick="loadpage('/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}')">Edit Location</span>

{%endif%}