{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/object/show.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/story/object/show.js') }}"></script>

<section class="row">
  <button type="button" onclick="add_btn_pressed('{{ story_id }}')" id="add-btn" class="btn btn-light"><i class="fas fa-plus"></i></button>
</section>

<button onclick = "show_event()" ><h1 id="test" style="visibility: hidden;" >Invisible</h1></button>

<form id="obj-template" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" readonly class="hidden-in">
    <input name="obj_id" readonly class="hidden-in">
<button type= "button" onclick= "delete_btn_pressed('{{story_id , obj_id}}')" class="trash btn btn-light"><i class="fa fa-minus"></i></button>
    <section class="object-row row">
        <section class="row flex-1">

            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" onchange="object_changed(this)" name="obj_name">
            </div>

            <div class="col-sm-8">
                <label><b>Starting Location:</b></label>
                <select class="form-control" type="text" onchange="object_changed(this)" name="obj_starting_loc">
                        {% for locations in location %}
                        <option>{{location.location_name}}</option>
                    {% endfor %}
                </select>
            </div>

        </section>

        <section class="flex-0" onclick="object_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>
        <label>Description</label>
        <textarea class="form-control" rows="3" onchange="object_changed(this)" name="obj_description"></textarea>
        <br>

        <label>Is Hidden? </label>
        <input type="checkbox" class= "chk" autocomplete="off" onclick= "show_event()"onchange="object_changed(this)" name="is_hidden">
        
        <div class= "hidden" style= "visibility: hidden;">
        <label class = "hidden">Unhide Event Name</label>
        <select   class = "hidden" type="text" onchange="object_changed(this)" name="obj_unhide_event_ID">
                {% for events in event %}
                <option>{{event.event_name}}</option>
            {% endfor %}
        </select>   
        </div>
    </section>
</form> 

<div id="content-marker"></div>

{% for object in objects %}
<form class="object-main-row" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" value="{{ object.story_id }}" readonly class="hidden-in">
    <input name="obj_id" value="{{ object.obj_id }}" readonly class="hidden-in">
    <button type="button" onclick= "delete_btn_pressed('{{story_id , obj_id}}')"  class="trash"><i class= "fa fa-minus"></i></button>
    <section class="object-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="obj_name" onchange="object_changed(this)" value="{{ object.obj_name }}">
            </div>
            <div class="col-sm-8">
            <label><b>Starting Location:</b></label>
            <select class="form-control" type="text" name="obj_starting_loc" onchange="object_changed(this)" value="{{ object.obj_location}}">
                    {%for locations in location%}
                        <option>{{location.location_name}}</option>
                    {%endfor%}
            </select>
            </div>
        </section>
             <section class="flex-0" onclick="object_show(this)">
                <i class="fas fa-chevron-down fa-lg down-arrow"></i>
            </section>
    </section>
    <section class="row details" style="display: none">
        <hr>
        <label>Description</label>
        <textarea class="form-control" rows="3" name="obj_description" onchange="object_changed(this)">{{ object.obj_description }}</textarea>
        <br>
        <label>Is Hidden? </label>
        {% if object.is_hidden==0 %}
        <input class = "chk" type="checkbox" checked = '' autocomplete="off" name="can_pickup_obj" onclick="show_event()" onchange="object_changed(this)">
        {% else %}
        <input class = "chk" type="checkbox" autocomplete="off" name="can_pickup_obj" onclick="show_event()" onchange="object_changed(this)"checked>
        {% endif %}
        <div class= "hidden" style= "visibility: hidden;">
        <br>
        <label class="hidden">Unhide Event Name</label>
            <select class= "form-control hidden"  type="text" name="obj_unhide_event" onchange="object_changed(this)" value="{{ object.unhide_event_id}}">
                    {%for events in event%}
                        <option>{{event.event_name}}</option>
                    {%endfor%}
                </select>
        </div>
    </section>
</form>
{% endfor %}

{% endblock %}