{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/object/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/object/show.js') }}"></script>


<a href="#bottom"><button class="btn btn-light">Bottom of Page</button></a>
<a href="/story/update?story_id={{ story_id }}"><button class="btn btn-light">Back to Main Story Page</button></a>
<a href="/story/location/show?story_id={{ story_id }}"><button class="btn btn-light">Edit Locations</button></a>
<a href="/story/event/show?story_id={{ story_id }}"><button class="btn btn-light">Edit Events</button></a>

<section class="row">
    <h3>Objects</h3>
    <button type="button" onclick="add_btn_pressed('{{ story_id }}')" id="add-btn" class="btn btn-light"><i
            class="fas fa-plus"></i></button>
</section>

<form id="obj-template" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" readonly class="hidden-in">
    <input name="obj_id" readonly class="hidden-in">

    <button type="button" onclick="delete_btn_pressed(this)" class="trash btn btn-light"><i
            class="fa fa-trash-alt fa-xs"></i></button>

    <section class="object-row row">
        <section class="row flex-1">

            <div class="col-sm-4">
                <label for="obj_name"><b>Name:</b></label>
                <input id="obj_name" class="form-control" type="text" onchange="object_changed(this)" name="obj_name">
            </div>
            <!--;namegiven(this)-->

            <div class="col-sm-8">
                <label for="starting_loc"><b>Select Starting Location: or <a href="#"
                            onclick="add_btn_pressed_loc({{story_id}})"> Add New
                            Location</a></b></label>
                <select id="starting_loc" autocomplete="off" type="text" class="form-control"
                    onchange="object_changed(this)" name="obj_starting_loc">
                    <option value="0">None</option>
                    {% for location in locations %}
                    <option value="{{location.location_id}}">{{location.location_name}}</option>
                    {% endfor %}
                </select>
            </div>

        </section>

        <section class="flex-0" onclick="object_show(this)">
            <i class="fas fa-chevron-down down fa-lg down-arrow"></i>
        </section>

    </section>

    <section class="row details" style="display: none">
        <hr>
        <label for="obj_desc">Description</label>
        <textarea class="form-control" rows="3" onchange="object_changed(this)" name="obj_description"></textarea>
        <br>

        <div>
            <label>Is Hidden? </label>
            <input type="checkbox" autocomplete="off" onclick="checkbox_visability_check(this)"
                onchange="object_changed(this)" name="is_hidden">

            <div class="checkbox_hide" style="display: none;">
                <label>Select Unhide Event Name: or <a href="/story/event/show?story_id={{ story_id }}"> Add New
                        Event</a></label>
                <select onchange="object_changed(this)" autocomplete="off" name="unhide_event_ID">
                    <option value="0">None</option>
                    {% for event in events %}
                    <option value="{{event.event_id}}">{{event.event_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>
</form>

<div id="content-marker"></div>

{% for object in objects %}
<form class="object-main-row" onclick="set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" value="{{ object.story_id }}" readonly class="hidden-in">
    <input name="obj_id" value="{{ object.obj_id }}" readonly class="hidden-in">

    <button type="button" onclick="delete_btn_pressed(this)" class="trash btn btn-light"><i
            class="fa fa-trash-alt fa-xs"></i></button>

    <section class="object-row row">
        <section class="row flex-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="obj_name" onchange="object_changed(this)"
                    value="{{ object.obj_name }}" required>
            </div>
            <div class="col-sm-8">
                <label><b>Select Starting Location: or <a href="#" onclick="add_btn_pressed_loc({{object.story_id}})">
                            Add New
                            Location</a></b></label>
                <select class="form-control" autocomplete="off" name="obj_starting_loc"
                    value="{{object.obj_starting_loc}}" onchange="object_changed(this)">
                    <option value="0">None</option>
                    {% for location in locations %}
                    <option {% if location.location_id==object.obj_starting_loc %}selected{%endif%}
                        value="{{location.location_id}}">{{location.location_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </section>

        <section class="flex-0" onclick="object_show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>

    </section>
    <section class="row details" style="display: none">
        <hr>

        <label>Description</label>
        <textarea class="form-control" rows="3" name="obj_description"
            onchange="object_changed(this)">{{ object.obj_description }}</textarea>
        <br>

        <div>
            <label>Is Hidden? </label>
            {%if object.is_hidden%}
            <input id="chk1" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="checkbox_visability_check(this)" onchange="object_changed(this)" checked>
            {%else%}
            <input id="chk2" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="checkbox_visability_check(this)" onchange="object_changed(this)">
            {%endif%}

            <div class="checkbox_hide" {%if not object.is_hidden%}style="display: none;" {%endif%}>
                <label>Select Unhide Event Name: or <a href="/story/event/show?story_id={{ story_id }}"> Add New
                        Event</a></label>
                <select class="form-control" type="text" autocomplete="off" name="unhide_event_id"
                    onchange="object_changed(this)" value="{{ object.unhide_event_id}}">
                    <option value="0">None</option>
                    {% for event in events %}
                    <option {% if event.event_id==object.unhide_event_id %}selected{%endif%} value="{{event.event_id}}">
                        {{event.event_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </section>
</form>
{% endfor %}
<br>
<a href="#add-btn"><button id="bottom" class="btn btn-light">Back to Top</button></a>
<a href="/story/update?story_id={{ story_id }}"><button class="btn btn-light">Back to Main Story Page</button></a>
<a href="/save/saving?story_id={{ story_id }}"><button id="bottom" class="btn btn-light">Save</button></a>
{% endblock %}