{%extends "template.html" %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/verification/review.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/verification/review.js') }}"></script>
<!--TODO put all this info into server somehow-->

<form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <h1 class="text" style="text-align: center;">Story Verification</h1>
    <br>
    <a href="/verification/treeview?story_id={{story_id}}">Switch to treeview</a>
    <hr>
    <h2 class="text">Locations:</h2>
    <br>

    {% for location in locations %}
    <section class="location-row">
        <p><strong>{{location.location_name}}</strong></p>
        <label>Location Verified</label>
        {% if location.is_verified == 1%}
        <input type="checkbox" class="details" name="loc_verified" autocomplete="off" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="loc_verified" autocomplete="off" onchange="verify_changed(this)">
        {% endif %}
        <label>Verification Comments</label>
        <input type="text" class="details" value = {{location.reviewer_comments}} name="loc_comments" autocomplete="off" onchange="verify_changed(this)">
        <!--class="col-sm-4"-->
        <br>
        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>

        <h6><b>Original Description</b></h6>
        <p>{{location.original_description}}</p>
        <hr>

        <h6><b>Short Description</b></h6>
        <p>{{location.short_description}}</p>
        <hr>

        <h6><b>Post Event Description</b></h6>
        <p>{{location.post_event_description}}</p>
        <hr>
        <hr>
        <br>
    </section>

    {% endfor %}

    <hr>
    <h2 class="text">Decisions:</h2>
    <br>

    {%for decision in decisions%}
    <section class="decision-row">
        <p><strong>{{decision.decision_name}}</strong></p>
        <label>Decision Verified</label>
        {% if decision.is_verified == 1%}
        <input type="checkbox" class="details" name="dec_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="dec_verified" onchange="verify_changed(this)">
        {%endif%}
        <label>Verification Comments</label>
        <input type="text" class="details" name="dec_comments" value = {{decision.reviewer_comments}} autocomplete="off" onchange="verify_changed(this)">
        <br>


        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6><b>Decision Description:</b></h6>
        <p>{{decision.decision_description}}</p>
        <hr>
        <h6><b>Description when locked:</b></h6>
        <p>{{decision.locked_descr}}</p>
        <hr>
        <h6><b>Description of decision aftermath:</b></h6>
        <p>{{decision.aftermath_descr}}</p>
    </section>

    {%endfor%}

    <hr>
    <h2>Objects:</h2>
    <br>
    {%for object  in objects%}
    <section class="object-row">
        <p><strong>{{object.obj_name}}</strong></p>
        <label>Objects Verified</label>
        {% if obeject.is_verified==1%}
        <input type="checkbox" class="details" name="obj_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="obj_verified" onchange="verify_changed(this)" >
        <label>Verification Comments</label>
        <input type="text" class="details" name="obj_comments" value = {{object.reviewer_comments}} autocomplete="off" onchange="verify_changed(this)">
        <br>



        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6>Description</h6>
        <p>{{object.obj_description}}</p>

    </section>

    {%endfor%}

    <hr><br>

    <h2>Events:</h2>
    <br>
    {%for event in events%}
    <section class="event-row ">
        <p><strong>{{event.event_name}}</strong></p>
        <label>Event Verified</label>
        {% if event.is_verified%}
        <input type="checkbox" class="details" name="ev_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="ev_verified" onchange="verify_changed(this)" >
        {%endif%}
        <br>
        <label>Verification Comments</label>
        <input type="text" class="details" value = {{event.reviewer_comments}} name="event_comments" autocomplete="off" onchange="verify_changed(this)">
        <br>
        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>

    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6>Description:</h6>
        <p>{{event.event_description}}</p>
    </section>
    {%endfor%}

    <br>
    <hr><br>

    <label>Suggested Rating:</label>
    <!--where do we want to store this info @sonny @brian-->
    <select class="form-control details" onchange="verify_changed(this)" name="rating">
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>

    <br>
    <hr>
    <section class="row">
        <div class="col-sm-8">
            <label>Name of Verifier</label>
            <input type="text" class="form-control details" name="name_of_verifier" onchange="verify_changed(this)"
                required>
        </div>
        <div class="col-sm-4">
            <label>Today's Date</label>
            <input type="date" class="form-control details" name="verification_date" onchange="verify_changed(this)"
                required>
        </div>
    </section>
    <br>
    <hr>

    <a href="/save/verifying?story_id={{story_id}}"><button class="btn btn-light"
            onclick="verify_story('story_id')">Submit Verification Info</button></a>

</form>

{% endblock %}