{%extends "template.html" %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/verification/review.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/verification/review.js') }}"></script>
<!--TODO put all this info into server somehow-->

<form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <input name="story_id" class = "details hidden-in" value="{{story_id}}" readonly> 
    <h1 class="text" style="text-align: center;">Story Verification</h1>
    <br>
    <a href="/verification/treeview?story_id={{story_id}}">Switch to treeview</a>
    <hr>
    <h3><b>Title:</b> {{story.story_title}}</h3>
    <h6><b>Synopsis:</b> {{story.story_synopsis}}</h6>
    <hr><br>
    <h2 class="text">Locations:</h2>
    <br>
</form>
<form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <input name="story_id" class = "details hidden-in" value="{{story_id}}" readonly> 
    {% for location in locations %}
    <section class="location-row">
            <input name="type" value="location" readonly class="hidden-in"> 
            <input name="ent_id" value="{{location.location_id}}" readonly class="hidden-in"> 
        <p><strong>{{location.location_name}}</strong></p>
        <label>Location Verified</label>
        {% if location.is_verified == 1%}
        <input type="checkbox" class="details" name="is_verified" autocomplete="off" onchange="verify_changed(this)"
            checked>
        {% else %}
        <input type="checkbox" class="details" name="is_verified" autocomplete="off" onchange="verify_changed(this)">
        {% endif %}
        <br>
        <label>Verification Comments</label>
        <input type="text" class="details" value="{{location.reviewer_comments}}" name="comment"
            onchange="verify_changed(this)">
        <!--class="col-sm-4"-->
        <br>
        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>

        <h6><b>Original Description</b></h6>
        <p>{{location.original_description}}</p>
        <hr>

        <h6><b>Short Description</b></h6>
        <p>{{location.short_description}}</p>
        <hr>

        <h6><b>Post Event Description</b></h6>
        <p>{{location.post_event_description}}</p>
        <hr>
        <hr>
        <br>
    </section>

    {% endfor %}
</form>
<form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <hr>
    <h2 class="text">Decisions:</h2>
    <br>

    {%for decision in decisions%}
    <section class="decision-row">
        <input name="type" value="decision" readonly class="hidden-in"> 
        <input name="ent_id" value="{{decision.decision_id}}" readonly class="hidden-in"> 
        <input name="loc_id" value="{{decision.loc_id}}" readonly class="hidden-in"> 
        <p><strong>{{decision.decision_name}}</strong></p>
        <label>Decision Verified</label>
        {% if decision.is_verified == 1%}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)">
        {%endif%}
        <br>
        <label>Verification Comments</label>
        <input type="text" class="details" name="comment" value="{{decision.reviewer_comments}}"
            onchange="verify_changed(this)">
        <br>


        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6><b>Decision Description:</b></h6>
        <p>{{decision.decision_description}}</p>
        <hr>
        <h6><b>Description when locked:</b></h6>
        <p>{{decision.locked_descr}}</p>
        <hr>
        <h6><b>Description of decision aftermath:</b></h6>
        <p>{{decision.aftermath_descr}}</p>
    </section>

    {%endfor%}
</form>
<form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <hr>
    <h2>Objects:</h2>
    <br>
    {%for object in objects%}
    <section class="object-row">
            <input name="type" value="object" readonly class="hidden-in"> 
            <input name="ent_id" value="{{object.object_id}}" readonly class="hidden-in"> 
        <p><strong>{{object.obj_name}}</strong></p>
        <label>Objects Verified</label>
        {% if object.is_verified==1%}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)">
        {% endif %}
        <br>
        <label>Verification Comments</label>
        <input type="text" class="details" name="comment" value="{{object.reviewer_comments}}"
            onchange="verify_changed(this)">
        <br>



        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>
    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6>Description</h6>
        <p>{{object.obj_description}}</p>

    </section>

    {%endfor%}
</form>
    <hr><br>
    <form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <h2>Events:</h2>
    <br>
    {%for event in events%}
    <section class="event-row">
        <input name="type" value="event" readonly class="hidden-in"> 
        <input name="ent_id" value="{{event.event_id}}" readonly class="hidden-in"> 
        <p><strong>{{event.event_name}}</strong></p>
        <label>Event Verified</label>
        {% if event.is_verified%}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)" checked>
        {% else %}
        <input type="checkbox" class="details" name="is_verified" onchange="verify_changed(this)">
        {%endif%}
        <br>
        <label>Verification Comments</label>
        <input type="text" class="details" value="{{event.reviewer_comments}}" name="comment"
            onchange="verify_changed(this)">
        <br>
        <section class="flex-0" onclick="show(this)">
            <i class="fas fa-chevron-down fa-lg down-arrow"></i>
        </section>

    </section>

    <section class="row details" style="display: none">
        <hr>
        <h6>Description:</h6>
        <p>{{event.event_description}}</p>
    </section>
    {%endfor%}
</form>
    <br>
    <hr><br>
    <form onclick="set_focus(this)" method="POST" action="/verification/review/update">
    <label>Suggested Rating:</label>
    <!--where do we want to store this info @sonny @brian-->
    <select class="form-control details" onchange="verify_changed(this)" name="parental_ratings">
        <option {% if story.parental_ratings == "G" %}selected{%endif%}>G</option>
        <option {% if story.parental_ratings == "PG" %}selected{%endif%}>PG</option>
        <option {% if story.parental_ratings == "PG-13" %}selected{%endif%}>PG-13</option>
        <option {% if story.parental_ratings == "R" %}selected{%endif%}>R</option>
    </select>

    <br>
    <hr>
   
    <section class="row">
            <input name="type" value="story" readonly class="hidden-in"> 
   <label>Additional Comments: </label>
    <textarea class="details form-control" name="comment" onchange="verify_changed(this)">{{story.reviewer_comments}}</textarea>
    
    </section>
    <br>
    <hr>

    <a href="/save/verifying?story_id={{story_id}}"><button class="btn btn-light"
            onclick="verify_story('story_id')">Submit Verification Info</button></a>

</form>

{% endblock %}