{%extends "template.html" %}
{% block content%}
<script src="{{ url_for('static', filename='js/verification/review.js') }}"></script>
<script src="{{ url_for('static', filename='js/story/treeview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/treeview.css') }}" type="text/css" />

<body>
    <form onclick="set_focus(this)" method="POST" action="/verification/treeview/update">
        <input name="story_id" class="details hidden-in" value="{{story_id}}" readonly>
        <h1 style="text-align: center">Treeview</h1>
        <br>
        <hr>
        <label for="start">Select starting location</label>
        <select onchange="vget_starting_loc('{{story.story_id}}', this)" id="start" class="form-control" type="text"
            autocomplete="off" name="starting_loc_id">
            <option value="0">-----</option>
            {% for loc in locations %}
            <input name="type" value="location" readonly class="hidden-in">
            <input name="ent_id" value="{{location.location_id}}" readonly class="hidden-in">
            <option {% if loc_id|int == loc.location_id|int %}selected{%endif%} value="{{loc.location_id}}">
                {{loc.location_name}}</option>
            {% endfor %}
        </select>
        <br>
        <section class="row">
            <label>Current Location</label>
            <div class="col-sm-4 small-card">
                <p>{{location.location_name}}</p>
                {% if location != None%}
                <a href="/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}">View
                    Details/Edit</a>
                <br><label>Verify Location</label>
                <input type="checkbox" class="details" name="is_verified" autocomplete="off"
                    onchange="verify_changed(this)">
                <br>
                <label>Verfication Comments</label>
                <input type="text" class="details" name="comment" autocomplete="off" onchange="verify_changed(this)">
                {% endif %}
            </div>
        </section>
        <br>
    </form>
    <form onclick="set_focus(this)" method="POST" action="/verification/treeview/update">
        <input name="story_id" class="details hidden-in" value="{{story_id}}" readonly>
        <section class="row">
            {% for dec in decisions %}
            <input name="type" value="decision" readonly class="hidden-in">
            <input name="ent_id" value="{{decision.decision_id}}" readonly class="hidden-in">
            <input name="loc_id" value="{{decision.loc_id}}" readonly class="hidden-in">
            <div class="col-sm-4 small-card">
                {% if dec.transition_loc_id > 0%}
                <a href="/verification/treeview?story_id={{story.story_id}}&location_id={{dec.transition_loc_id}}">"{{dec.decision_name}}"
                    leads to "{{StoryLocation.get(story.story_id,dec.transition_loc_id).location_name}}"</a>
                <br>
                {%else%}
                <p>"{{dec.decision_name}}" leads to NOWHERE</p>
                {% endif%}
                <br><a
                    href="/story/location/decision/show?story_id={{story.story_id}}&location_id={{location.location_id}}">View
                    Details/Edit</a>
                <br>
                <label>Verify Decision</label>
                <input type="checkbox" class="details" name="is_verified" autocomplete="off"
                    onchange="verify_changed(this)">
                <br>
                <label>Verfication Comments</label>
                <input type="text" class="details" name="comment" autocomplete="off" onchange="verify_changed(this)">
            </div>
            {% endfor %}
        </section>

        <br>
        <hr>
        <a href="/verification/review?story_id={{story.story_id}}"><button class="btn btn-primary">Return to
                Verification Form</button></a>

    </form>
</body>





{% endblock %}