{%extends "template.html" %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/verification/view.css') }}" type="text/css"/>
    <h1 class= "text" >Story Verification</h1>
    <hr>
    <h2 class= "text">Stories Ready for Verification:</h2>
    <br>
    {% for story in stories %}
    {% if story.verification_status = "" %}
    <div class="col-sm-4 storycard">
        <button id = "tbvs" class= "btn btn-light">{{ story.story_title }}</button>
    </div>
    {% endif %}

    {% endfor %}
{% endblock %}