{%extends "template.html" %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/verification/view.css') }}" type="text/css" />
<h1 class="text">Story Verification</h1>
<a href= "/verification/help"><button id = "createstory" class= "btn btn-primary">How to Verify Story</button></a>
<hr>
<h2 class="text">Stories Ready for Verification:</h2>
<br>
{% for story in stories %}

{%if true%} <!--TODO MAKE THIS WORK IDK HOW WE WANNA STORE THIS INFO-->
<div class="col-sm-4 storycard">
    <a href="/verification/review?story_id={{story.story_id}}"><button id="tbvs" class="btn btn-light">{{ story.story_title }}</button> </a>
   
</div> <br>
{%endif%}

{% endfor %}
{% endblock %}