.update-form-group {
    align-items: center;
}

.small-card {
    background: white;
    border-radius: 10px;
    border: 1px solid RGBA(0, 0, 0, .5);
    padding: 0.5em;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

#cover-photo {
	margin: 1rem auto; 
	max-width: 100%;
	height: 28em; 
	width: 20em; 
	background-repeat: no-repeat; 
	background-position: center; 
	background-color: #cccccc; 
	background-size: cover; 
}