.show-main-row {
    border-top: 1px solid RGBA(0, 0, 0, .5);
    border-left: 1px solid RGBA(0, 0, 0, .5);
    border-right: 1px solid RGBA(0, 0, 0, .5);
    padding: 0.5em;
    z-index: 1;
    background: white;
}

.show-main-row:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.show-main-row:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid RGBA(0, 0, 0, .5);
}

.show-down-arrow {
    height: 100%;
    padding: 0px 0.5em;
    vertical-align: middle;
}

.show-down-arrow:hover {
    cursor: pointer;
}

#show-active {
    border: 0px;
    box-shadow: 0 0 0.2rem 0.2rem RGBA(7, 56, 132, .5);
}

.form-control {
    display: inline;
}

#add-btn {
    border: 1px solid RGBA(0, 0, 0, .5);
    margin-left: auto;
    margin-bottom: .5em;
}

.trash {
    border: 1px solid RGBA(0, 0, 0, .5);
    float: right;
    padding: 0.2rem 0.4rem;
}