html {
	height: 100%;
}

body {
	background-color: whitesmoke;
	display: flex;
	flex-flow: column;
	min-height: 100%;
	font-family: "Times New Roman", Times, serif;
}

.navbar {
	box-shadow: 0 0 5px 5px RGBA(50, 50, 50, 0.5);
	background-color: whitesmoke;
	z-index: 2;
}

.footer {
	box-shadow: 0 0 4px 4px RGBA(50, 50, 50, 0.5);
	background-color: whitesmoke;
	padding-top: 2em;
	padding-bottom: 2em;
	display: block;
	flex: 0 1 40px;
	z-index: 2;
}

#main-site {
	box-shadow: 0 0 4px 4px RGBA(50, 50, 50, 0.5);
	padding: 2em;
	background-color: white;
	margin: 2em auto;
	min-height: 100%;
	flex: 1 1 auto;
}

.input-group-text {
	background-color: white;
	border-right: 0px;
	color: #888;
}

.icon-input input {
	border-left: 0px;
}

.btn-primary {
	background-color: #073884;
	color: white;
}

.form-control {
	transition: box-shadow 0.35s, border 0.35s !important;
	background-color: white;
}

.form-control:focus {
	border: 0px;
	box-shadow: 0 0 0.2rem 0.2rem RGBA(7, 56, 132, .5);
}

.logo {
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding: 0px;
}

#signin {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

#createstory {
	width: 75%;
	align-self: center;
	margin-left: 12.5%;
}

#mystory {
	margin-top: 100px;
	text-align: center;
	color: #073884;
}

.storycard {
	border: 5px solid;
	border-color: #073884;
	background-color: white;
	color: #073884;
	text-align: center;
	padding: 10px !important;
	transition: border 0.1s, padding 0.1s;
	border-radius: 3px;
}

.storycard:hover {
	border: 1px solid !important;
	border-color: #073884;
	padding: 14px !important;
	transition: border 0.1s, padding 0.1s;
}

#save-bubble {
    position: fixed;
    bottom: 20px;
    left: 0px;
    width: 100%;
    display: none;
    z-index: 10;
}

#save-bubble-inner {
    background: #d4edda;
    margin: auto;
    padding: .5rem 1em;
    border-radius: 5rem;
    border: solid 1px #c3e6cb;
    width: max-content;
    font-size: .75em;
    color: #155724;
}

.fg-1 {
    flex-grow: 1;
}

.fg-0 {
    flex-grow: 0;
}

.hover-cursor:hover {
	cursor: pointer;
}
.lnk {
	color: #428bca;
	text-decoration: underline;
}
.lnk:hover {
	cursor: pointer;
}