<link rel="stylesheet" href="{{ url_for('static', filename='css/story/object/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/object/show.js') }}"></script>

<button onclick="save()" style="float: right;" class="btn btn-primary mb-2">Save</button>

<div class="clearfix"></div>

<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" value="{{ story_id }}" readonly class="d-none">
    <input name="obj_id" value="{{ object_id }}" readonly class="d-none">

    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="obj_name" onchange="show_changed(this, 'object')"
                    value="{{ obj.obj_name|e }}" required>
            </div>
            <div class="col-sm-8">
                <label><b>Select Starting Location: or <span class="hover-cursor" onclick="add_loc_redir('{{story_id}}')"> Add
                            New Location</span></b></label>
                <select class="form-control" autocomplete="off" name="obj_starting_loc" value="{{obj.obj_starting_loc}}"
                    onchange="show_changed(this, 'object')">
                    <option value="0">None</option>
                    {% for location in locations %}
                    <option {% if location.location_id|int==obj.obj_starting_loc|int%}selected{%endif%}
                        value="{{location.location_id}}">{{location.location_name|e}}</option>
                    {% endfor %}
                </select>
            </div>
        </section>
    </section>
    <hr>
    <section class="row m0 p-2">

        <label for="desc" style="text-align: left">Description</label>
        <textarea id="desc" class="form-control" rows="3" name="obj_description"
            onchange="show_changed(this, 'object')">{{ obj.obj_description|e }}</textarea>
        <br>

        <div>
            <label>Is Hidden? </label>
            {%if obj.is_hidden%}
            <input id="chk1" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="show_checkbox_visability_check(this)" onchange="show_changed(this, 'object')" checked>
            {%else%}
            <input id="chk2" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="show_checkbox_visability_check(this)" onchange="show_changed(this, 'object')">
            {%endif%}

            <div class="checkbox_hide" {%if not obj.is_hidden%}style="display: none;" {%endif%}>
                <label>Select Unhide Event Name: or <span class="hover-cursor" onclick="loadpage('/story/event/show?story_id={{ story_id }}"> Add New Event</span></label>
                <select class="form-control" type="text" autocomplete="off" name="obj_unhide_event"
                    onchange="show_changed(this, 'object')" value="{{ obj.unhide_event_id}}">
                    <option value="0">None</option>
                    {% for event in events %}
                    <option {% if event.event_id|int==obj.unhide_event_id|int%}selected{%endif%}
                        value="{{event.event_id}}">
                        {{event.event_name|e}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <section style="width: 100%" class="row">
            <button type="button" onclick="show_delete_pressed(this, 'location')" class="ml-auto btn btn-danger"><i class="fa fa-trash-alt"></i> Delete Story</button>
        </section>
    </section>
</form>

<br>

<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story Page</button></a>
<button onclick="loadpage('/story/treeview?story_id={{story_id}}')" class="btn btn-light">Back to TreeView</button>
<button onclick="loadpage('/verification/status?story_id={{story_id}}')" id="bottom" class="btn btn-light">View Verification Info</button>
<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>