<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<section class="row m0">
    <h3>Objects</h3>
    <button type="button" onclick="add_obj_redir('{{ story_id }}')" id="add-btn" class="btn btn-light"><i
            class="fas fa-plus"></i></button>
</section>

<div class="mb-3"></div>

{% for object in objects %}
<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/object/update">
    <input name="story_id" value="{{ object.story_id }}" readonly class="d-none">
    <input name="obj_id" value="{{ object.obj_id }}" readonly class="d-none">

    <!-- Summary Area -->
    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="obj_name" onchange="show_changed(this, 'object')"
                    value="{{ object.obj_name|e }}" required>
            </div>

            <div class="col-sm-8">
                <label class="font-weight-bold">Select Starting Location: or <span class="text-primary hover-cursor" onclick="add_loc_redir('{{object.story_id}}')">Add New Location</span></label>
                <select class="form-control" autocomplete="off" name="obj_starting_loc"
                    value="{{object.obj_starting_loc}}" onchange="show_changed(this, 'object')">
                    <option value="0">None</option>
                    {% for location in locations %}
                    <option {% if location.location_id|int==object.obj_starting_loc|int%}selected{%endif%}
                        value="{{location.location_id}}">{{location.location_name|e}}</option>
                    {% endfor %}
                </select>
            </div>
        </section>

        <section class="fg-0" onclick="show_show(this)">
            <i class="fas fa-chevron-down fa-lg show-down-arrow"></i>
        </section>

    </section>
    <!-- /Summary Area -->

    <!-- Dropdown Area -->
    <section class="row m0 p-2" style="display: none">
        <hr>

        <label>Description</label>
        <textarea class="form-control" rows="3" name="obj_description"
            onchange="show_changed(this, 'object')">{{ object.obj_description|e }}</textarea>
        <br>

        <div>
            <label>Is Hidden? </label>
            {%if object.is_hidden%}
            <input id="chk1" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="show_checkbox_visability_check(this)" onchange="show_changed(this, 'object')" checked>
            {%else%}
            <input id="chk2" type="checkbox" name="is_hidden" autocomplete="off"
                onclick="show_checkbox_visability_check(this)" onchange="show_changed(this, 'object')">
            {%endif%}

            <div class="checkbox_hide" {%if not object.is_hidden%}style="display: none;" {%endif%}>
                <label>Select Unhide Event Name: or <a href="/story/event/show?story_id={{ story_id }}"> Add New
                        Event</a></label>
                <select class="form-control" type="text" autocomplete="off" name="unhide_event_id"
                    onchange="show_changed(this, 'object')" value="{{ object.unhide_event_id}}">
                    <option value="0">None</option>
                    {% for event in events %}
                    <option {% if event.event_id|int==object.unhide_event_id|int%}selected{%endif%}
                        value="{{event.event_id}}">{{event.event_name|e}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <section class="row">
            <button type="button" onclick="show_delete_pressed(this, 'location')" class="ml-auto btn btn-danger"><i class="fa fa-trash-alt"></i> Delete Story</button>
        </section>
    </section>
    <!-- /Dropdown Area -->
</form>
{% endfor %}

<br>

<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<div class="mb-3"></div>