<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story Page</button>
<button class="btn btn-light" onclick="loadpage('/story/location/indiv?story_id={{story_id}}&location_id={{decision.loc_id}}')">Back to Location</button>
<button class="btn btn-light" onclick="loadpage('/story/location/decision/show?story_id={{story_id}}&location_id={{decision.loc_id}}')">Back to Decision List</button>
<button class="btn btn-primary" style="float:right" onclick="loadpage('/save/saving?story_id={{ story_id }}')">Save</button>

<div class="mb-3"></div>

<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/location/decision/update">
    <input name="story_id" value="{{ decision.story_id }}" readonly class="d-none">
    <input name="location_id" value="{{ decision.loc_id}}" readonly class="d-none">
    <input name="decision_id" value="{{ decision.decision_id }}" readonly class="d-none">

    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="decision_name" onchange="show_changed(this, 'location/decision')"
                    value="{{ decision.decision_name|e }}">
            </div>
            <hr>
            <div class="col-sm-8">
                <label><b>Properties:</b></label>
                <br>
                <p class="form-control">
                    {%if decision.hidden%}
                    Hidden,
                    {%else%}
                    Not Hidden,
                    {%endif%}

                    {%if decision.transition%}
                    Transition,
                    {%else%}
                    Not Transtion,
                    {%endif%}

                    {%if decision.locked%}
                    Locked
                    {%else%}
                    Not Locked
                    {%endif%}
                </p>
            </div>
        </section>
    </section>
    <section class="p-2">
        <!-- 'location/decision': add max value -->
        <label>Decision Sequence Number:</label>
        <input class="form-control" name="sequence_number" min="1" type="number" onchange="show_changed(this, 'location/decision')"
            value="{{decision.sequence_num|e}}">


        <label>Decision Description:</label>
        <textarea class="form-control" rows="3" name="dec_description"
            onchange="show_changed(this, 'location/decision')">{{ decision.decision_description|e }}</textarea>

        <div class="row m0">
            <label>Causes a transition?</label>
            {% if decision.transition %}
            <input type="checkbox" autocomplete="off" name="transition" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')" checked>
            {% else %}
            <input type="checkbox" autocomplete="off" name="transition" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')">
            {% endif %}
            <br>

            <div class="checkbox_hide" {%if not decision.transition%}style="display: none;" {%endif%}>
                <label>Select Transition Location: or <span class="lnk" onclick="add_loc_redir('{{ story_id }}')"> Add New Location</span></label>
                <select type="text" class="form-control" autocomplete="off" name="transition_loc_id"
                    onchange="show_changed(this, 'location/decision')">
                    <option value="0">None</option>
                    {%for loc in locations%}
                    <option {%if decision.transition_loc_id|int==loc.location_id|int%}selected{%endif%}
                        value="{{loc.location_id}}">{{loc.location_name|e}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>


        <label>Can Occur only ONCE?</label>
        {% if decision.can_occur_once %}
        <input type="checkbox" autocomplete="off" name="can_occur_once" onchange="show_changed(this, 'location/decision')" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="can_occur_once" onchange="show_changed(this, 'location/decision')">
        {% endif %}


        <div class="row m0">
            <label>Is Hidden?</label>
            {% if decision.hidden %}
            <input type="checkbox" autocomplete="off" name="hidden" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')" checked>
            {% else %}
            <input type="checkbox" autocomplete="off" name="hidden" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')">
            {% endif %}
            <br>

            <div class="checkbox_hide" {%if not decision.hidden%}style="display: none;" {%endif%}>
                <section class="row m0 fg-1">
                    <div class="col-sm-6">
                        <label>Select Object to show decision: or <span class="lnk"
                                onclick="add_obj_redir('{{ story_id }}')">
                                Add New Object</span></label>
                        <select type="text" class="form-control exclusive" autocomplete="off" name="show_object_id"
                            onchange="show_changed(this, 'location/decision');show_check_exclusivity(this)">
                            <option value="0">None</option>
                            {% for obj in objects %}
                            <option {%if decision.show_object_id|int==obj.obj_id|int%}selected{%endif%}
                                value="{{obj.obj_id}}">{{ obj.obj_name|e }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Select Event to show decision: or <span class="lnk" onclick="add_evt_redir('{{ story_id }}')">
                                Add New Event</span></label>
                        <select type="text" class="form-control exclusive" autocomplete="off" name="show_event_id"
                            onchange="show_changed(this, 'location/decision');show_check_exclusivity(this)">
                            <option value="0">None</option>
                            {%for event in events%}
                            <option {%if decision.show_event_id|int==event.event_id|int%}selected{%endif%}
                                value="{{event.event_id}}">{{event.event_name|e}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </section>
            </div>
        </div>



        <div>
            <label>Is Locked?</label>
            {% if decision.locked %}
            <input type="checkbox" autocomplete="off" name="locked" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')" checked>
            {% else %}
            <input type="checkbox" autocomplete="off" name="locked" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')">
            {% endif %}
            <br>

            <div class="checkbox_hide" {%if not decision.locked%}style="display: none;" {%endif%}>
                <section class="row m0 fg-1">
                    <div class="col-sm-6">

                        <label>Select Object to unlock decision: or <span class="lnk"
                                onclick="add_obj_redir('{{ story_id }}')"> Add New
                                Object</span></label>
                        <select type="text" class="form-control exclusive" autocomplete="off" name="unlock_object_id"
                            onchange="show_changed(this, 'location/decision');show_check_exclusivity(this)">
                            <option value="0">None</option>
                            {% for obj in objects %}
                            <option {%if decision.unlock_object_id|int==obj.obj_id|int%}selected{%endif%}
                                value="{{obj.obj_id}}">{{ obj.obj_name|e }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Select Event to unlock decision: or <span class="lnk"
                                onclick="add_evt_redir('{{ story_id }}')">
                                Add New Event</span></label>
                        <select type="text" class="form-control exclusive" autocomplete="off" name="unlock_event_id"
                            onchange="show_changed(this, 'location/decision');show_check_exclusivity(this)">
                            <option value="0">None</option>
                            {%for event in events%}
                            <option {%if decision.unlock_event_id|int==event.event_id|int%}selected{%endif%}
                                value="{{event.event_id}}">{{event.event_name|e}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <label>Description when initally locked:</label>
                    <textarea class="form-control" autocomplete="off" name="locked_descr"
                        onchange="show_changed(this, 'location/decision')">{{decision.locked_descr|e}}</textarea>
                </section>
            </div>
        </div>



        <label>Description of decision aftermath:</label>
        <textarea name="aftermath_desc" class="form-control" autocomplete="off"
            onchange="show_changed(this, 'location/decision')">{{decision.aftermath_descr|e}}</textarea>



        <div>
            <label>Does this decision trigger an event?</label>
            {% if decision.cause_event %}
            <input type="checkbox" autocomplete="off" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')" name="cause_event" checked>
            {% else %}
            <input type="checkbox" autocomplete="off" onclick="show_checkbox_visability_check(this)"
                onchange="show_changed(this, 'location/decision')" name="cause_event">
            {% endif %}
            <br>

            <div class="checkbox_hide" {%if not decision.cause_event%}style="display: none;" {%endif%}>
                <label>Select Event triggered by this decision: or <span class="lnk"
                        onclick="add_evt_redir('{{ story_id }}')">
                        Add New
                        Event</span></label>
                <select type="text" class="form-control" autocomplete="off" name="effect_event_id"
                    onchange="show_changed(this, 'location/decision')">
                    <option value="0">None</option>
                    {%for event in events%}
                    <option {%if decision.effect_event_id == event.event_id%}selected{%endif%}
                        value="{{event.event_id}}">{{event.event_name}}</option>
                    {%endfor%}
                </select>
            </div>
            <hr>
            <!--'location/decision' add checkbox here?-->
            <label>Select Event that locks this decision: or <span class="lnk"
                    onclick="add_evt_redir('{{ story_id }}')">
                    Add New
                    Event</span></label>
            <select type="text" class="form-control" autocomplete="off" name="is_locked_by_event_id"
                onchange="show_changed(this, 'location/decision')">
                <option value="0">None</option>
                {%for event in events%}
                <option {%if decision.is_locked_by_event_id == event.event_id%}selected{%endif%}
                    value="{{event.event_id}}">{{event.event_name}}</option>
                {%endfor%}
            </select>
            <label>Description when newly locked:</label>
            <textarea class="form-control" autocomplete="off" name="locked_by_event_description"
                onchange="show_changed(this, 'location/decision')">{{decision.locked_by_event_description}}</textarea>
        </div>
        <section style="width: 100%" class="row">
            <button type="button" onclick="show_delete_pressed(this, 'location/decision')" class="ml-auto btn btn-danger"><i class="fa fa-trash-alt"></i> Delete Decision</button>
        </section>
    </section>
</form>

<div class="mb-3"></div>