{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/show.js') }}"></script>

<button id="createstory" class="btn btn-primary" onclick="create_story_btn()">Create Story</button>

<br>
<br>

<a href="/story/help">
    <button id="createstory" class="btn btn-primary">How To Create a Story</button>
</a>

<h2 id="mystory">My Stories:</h2>
<div class="row">
    {% for story in stories %}
    <div class="col-sm-4 storycard">
        <a href="/story/update">
            <button id="story" class="btn btn-light"
                onclick="editStory('{{story_id}}')">{{ story.story_title }}</button>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}