{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/show.js') }}"></script>

<button id="createstory" class="btn btn-primary" onclick="create_story_btn()">Create Story</button>

<br>
<br>

<a href="/story/help">
    <button id="createstory" class="btn btn-primary">How To Create a Story</button>
</a>

<h2 id="mystory">My Stories:</h2>
<div class="row">
    {% for story in stories %}
    <div class="col-sm-4">
        <div class="storycard" href="/story/update?story_id={{story.story_id}}">
            <h3>{{ story.story_title }}&nbsp;</h3>
            <hr>
            <p>{{ story.story_synopsis }}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}