{%extends "template.html" %}
{% block content%}
<script src="{{ url_for('static', filename='js/story/treeview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/story/treeview.css') }}" type="text/css" />

<body>
    <h1 style="text-align: center">Treeview</h1>
    <br>
    <hr>
    <label for="start">Select starting location</label>
    <select onchange="get_starting_loc('{{story.story_id}}', this)" id="start" class="form-control" type="text"
        autocomplete="off" name="starting_loc_id">
        <option value="0" disabled selected>-----</option>
        {% for loc in locations %}
        
        <option value = "{{loc.location_id}}">{{loc.location_name}}</option>
       
        {% endfor %}
    </select>
    <br>
    <section class="row">
        <label>Current Location</label>
        <div class="col-sm-4 small-card">
            <p>{{location.location_name}}</p>
            {% if location != None%}
            <a href="/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}">Edit</a>
            {% endif %}
        </div>
    </section>
    <br>
    <section class="row">
        {% for dec in decisions %}
        <div class="col-sm-4 small-card">
            {% if dec.transition_loc_id > 0%}
            <a href="/story/treeview?story_id={{story.story_id}}&location_id={{dec.transition_loc_id}}">"{{dec.decision_name}}"
                leads to "{{StoryLocation.get(story.story_id,dec.transition_loc_id).location_name}}"</a>
            <br>
            {%else%}
            <p>"{{dec.decision_name}}" leads to NOWHERE</p>
            {% endif%}
            <a class="edit" href="/story/location/decision/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}&decision_id={{dec.decision_id}}">Edit
                Decision</a> </div>
        {% endfor %}
    </section>

    <br>
    <hr>
    <a href="/story/update?story_id={{story.story_id}}"><button class="btn btn-primary">Return to Story
            Form</button></a>
    <a href="/story/treeview_help?story_id={{story.story_id}}"><button class="btn btn-primary">How to Use
            Treeview</button></a>

</body>





{% endblock %}