{%extends "template.html" %}
{% block content%}
<div>
    <h1 class="title">Navigating Treeview</h1>

 <br><hr>
    <h3 id="intro" class="title">1) Select starting location:</h3>

    <body>Utilize the drop down menu to select the location you would like to view first </body>
    <br><br>
    <h3 id="story" class="title">2) Use decision buttons to navigate</h3>

    <body class="body">You may select any of the available decisions to refresh the page with the subsequent
         location as the starting location and see the next decision. You may repeat this step to see 
         the whole story or <strong>at anytime you may select a new starting location.</strong></body>
    <br><br>
    <h3 id="story" class="title">Note:</h3>
    <body class="body">If no new location appears after selecting a decision then you have not entered 
        a location into the transition location field in the decision form. For more 
        info visit <a href= "/story/help">our story help page</a>
    </body>
<br><br>
    <h6 class="title">Thank You for your interest! We look forward to experiencing your 
        AudioOdyssey! Feel free to <a href= "/contact">contact</a> us with additional questions or 
        concerns.</h6>
    <br><hr>
    <a href="/story/update?story_id={{story.story_id}}"><button id="createstory" class="btn btn-primary">Return to Story Form</button> </a>
    <br>
    <a href="/story/treeview?story_id={{story.story_id}}"><button id="createstory" class="btn btn-primary">Return to Treeview</button> </a>

    {% endblock %}