<style>
	.storycard {
		text-align: left;
	}

	.storycard:hover {
		cursor: pointer;
	}
</style>

<section class="row">
	<h2>Published Stories</h2>
</section>
<hr>

<div class="row">
	{% for story in stories %}
		<div class="col-sm-4">
			<div class="storycard">
				<h3>{{ story.story_title|e }}</h3>
				<hr>
				<p>{{ story.story_synopsis|e }}</p>
			</div>
		</div>
	{% else %}
		<h3 class="mt-5 mx-auto">Looks Like you don't have any published stories, <span class="hover-cursor text-primary" onclick="storyCreate()">learn how to publish</span>.</h3>
	{% endfor %}
</div>