<style>
	.storycard {
		text-align: left;
	}

	.storycard:hover {
		cursor: pointer;
	}
</style>

<section class="row">
	<h2>Verified Stories</h2>
</section>
<hr>

<div class="row">
	{% for story in stories %}
		<div class="col-sm-4">
			<div class="storycard">
				<h3>{{ story.story_title|e }}</h3>
				<hr>
				<p>{{ story.story_synopsis|e }}</p>
				<div class="row">
					<button class="ml-auto btn btn-secondary" onclick="publish('{{story.story_id}}')">Publish</button>
				</div>
			</div>
		</div>
	{%else%}
		<h3 class="mt-5 mx-auto">Looks like you don't have any verified stories, <a class="lnk" href= "/help/story">learn how to verify</a>.</h3>
	{% endfor %}
</div>