<link rel="stylesheet" href="{{ url_for('static', filename='css/story/treeview.css') }}" type="text/css" />

<body>
    <h1 style="text-align: center">Treeview</h1>
    <br>
    <hr>
    <label for="start">Select starting location</label>
    <select onchange="tree_go_starting_loc('/story/treeview','{{story.story_id}}',this)" id="start" class="form-control" type="text"
        autocomplete="off" name="starting_loc_id">
        <option value="0">-----</option>
        {% for loc in locations %}
        <option {%if loc_id|int==loc.location_id|int%}selected{%endif%} value="{{loc.location_id}}">
            {{loc.location_name|e}}</option>
        {% endfor %}
    </select>
    <br>
    <section class="row">
        <label>Current Location</label>
        <div class="col-sm-4 small-card">
            <p>{{location.location_name|e}}</p>
            {% if location != None%}
            <span class="lnk" onclick="loadpage('/story/location/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}')">Edit</span>
            {% endif %}
        </div>
    </section>
    <br>
    <section class="row">
        {% for dec in decisions %}
        <div class="col-sm-4 small-card">
            {% if dec.transition_loc_id > 0 %}
            <span class="lnk" onclick="loadpage('/story/treeview?story_id={{story.story_id}}&location_id={{dec.transition_loc_id}}')">"{{dec.decision_name|e}}"
                leads to "{{StoryLocation.get(story.story_id,dec.transition_loc_id).location_name|e}}"</span>
            <br>
            {%else%}
            <p>"{{dec.decision_name|e}}" leads to NOWHERE</p>
            {% endif%}
            <span class="edit lnk" onclick="loadpage('/story/location/decision/indiv?story_id={{story.story_id}}&location_id={{location.location_id}}&decision_id={{dec.decision_id}}')">Edit Decision</span>
        </div>
        {% endfor %}
    </section>

    <br>
    <hr>
    <button onclick="loadpage('/story/update?story_id={{story.story_id}}')" class="btn btn-light">Return to Story
            Form</button>
    <a href="/help/treeview?story_id={{story.story_id}}" class="btn btn-light">How to Use
            Treeview</a>

</body>