{% extends "template.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/index.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<section class="container" id="main-site">
	<section class="row">
	    <a href="/admin/users" class="col-sm-6 storycard">
	        <h2>{{users}} <small>Users</small></h2>
	    </a>
	    <a href="/admin/stories" class="col-sm-6 storycard">
	        <h2>{{stories}} <small>Stories</small></h2>
	    </a>
	</section>
</section>
{% endblock %}