<link rel="stylesheet" href="url_for('static', filename='css/story/event/show.css') }}" type="text/css" />
<script src="{{ url_for('static', filename='js/story/event/show.js') }}"></script>

<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>

<form class="show-main-row" onclick="set_focus(this)" method="POST" action="/story/event/update">
    <input name="story_id" value="{{ event.story_id }}" readonly class="d-none">
    <input name="event_id" value="{{ event.event_id }}" readonly class="d-none">

    <button type="button" onclick="delete_btn_pressed(this)" class="trash btn btn-danger"><i
        class="fa fa-trash-alt fa-xs"></i></button>

    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="event_name" onchange="event_changed(this)"
                    value="{{ event.event_name|e }}">
            </div>

            <div class="col-sm-8">
                <label><b>Select Location or:</b><a href="#" onclick="add_btn_pressed_loc('{{event.story_id}}')"> Add
                        New
                        Location</a></label>
                <select class="form-control" autocomplete="off" name="event_loc" onchange="event_changed(this)"
                    value="{{event.event_location_id}}">
                    <option value="0">None</option>
                    {% for loc in locations %}
                    <option {% if loc.location_id|int==event.event_location_id|int %}selected{%endif%}
                        value="{{loc.location_id}}">
                        {{ loc.location_name|e }}</option>
                    {%endfor%}
                </select>
            </div>
        </section>

    </section>
    <hr>
    <section class="row m0 p-2">

        <label>Description</label>
        <textarea class="form-control" rows="3" name="ev_description"
            onchange="event_changed(this)">{{ event.event_description|e }}</textarea>

        <label>Is Global?</label>
        {% if event.event_is_global %}
        <input type="checkbox" autocomplete="off" name="is_global" onchange="event_changed(this)" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="is_global" onchange="event_changed(this)">
        {% endif %}
        <br>

    </section>

</form>

<br>

<a href="#" onclick="loadpage('/story/update?story_id={{ story_id }}')"><button class="btn btn-light">Back to Main Story Page</button></a>
<a href="#" onclick="loadpage('/story/treeview?story_id={{story_id}}')"><button id="bottom" class="btn btn-light">Back to TreeView</button></a>
<a href="#" onclick="loadpage('/save/saving?story_id={{ story_id }}')"><button id="bottom" class="btn btn-light">Save</button></a>
<a href="#" onclick="loadpage('/verification/event?story_id={{story_id}}&event_id={{event_id}}')"><button id="bottom" class="btn btn-light">View
        Verification Info</button></a>
<button onclick="save()" style="float: right;" class="btn btn-primary">Save</button>