<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<section class="row m0">
    <h3>Events</h3>
    <button type="button" onclick="add_evt_redir('{{ story_id }}')" id="add-btn" class="btn btn-light"><i
            class="fas fa-plus"></i></button>
</section>

<div class="mb-3"></div>

{% for event in events %}
<form class="show-main-row" onclick="show_set_focus(this)" method="POST" action="/story/event/update">
    <input name="story_id" value="{{ event.story_id }}" readonly class="d-none">
    <input name="event_id" value="{{ event.event_id }}" readonly class="d-none">

    <!-- Summary Area -->
    <section class="align-items-center row m0">
        <section class="row m0 fg-1">
            <div class="col-sm-4">
                <label><b>Name:</b></label>
                <input class="form-control" type="text" name="event_name" onchange="show_changed(this, 'event')"
                    value="{{ event.event_name|e }}">
            </div>

            <div class="col-sm-8">
                <label><b>Select Location or:</b><span class="lnk" onclick="add_loc_redir('{{event.story_id}}')"> Add New Location</span></label>
                <select class="form-control" type="text" name="event_loc" onchange="show_changed(this, 'event')">
                    <option value="0">None</option>
                    {% for loc in locations %}
                    <option {%if loc.location_id|int==event.event_loc|int%}selected{%endif%}
                        value="{{loc.location_id}}">{{ loc.location_name|e }}</option>
                    {%endfor%}
                </select>
            </div>
        </section>
        <section class="fg-0" onclick="show_show(this)">
            <i class="fas fa-chevron-down fa-lg show-down-arrow"></i>
        </section>
    </section>
    <!-- /Summary Area -->

    <!-- Dropdown Area -->
    <section class="row m0 p-2" style="display: none">
        <hr>
        <label>Description</label>
        <textarea class="form-control" rows="3" name="ev_description"
            onchange="show_changed(this, 'event')">{{ event.event_description|e }}</textarea>

        <label>Is Global?</label>
        {% if event.event_is_global %}
        <input type="checkbox" autocomplete="off" name="is_global" onchange="show_changed(this, 'event')" checked>
        {% else %}
        <input type="checkbox" autocomplete="off" name="is_global" onchange="show_changed(this, 'event')">
        {% endif %}
        <br>

        <section class="row">
            <button type="button" onclick="show_delete_pressed(this, 'location')" class="ml-auto btn btn-danger"><i class="fa fa-trash-alt"></i> Delete Story</button>
        </section>
    </section>
    <!-- /Dropdown Area -->
</form>

{% endfor %}

<button onclick="loadpage('/story/update?story_id={{ story_id }}')" class="btn btn-light">Back to Main Story</button>
<button onclick="loadpage('/save/saving?story_id={{ story_id }}')" class="btn btn-light">Save</button>

<div class="mb-3"></div>